.container {
  width: 1360px;
  height: 3840px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  width: 1110px;
  font-size: 14px;
}
.navbar__image {
  flex-grow: 1;
}
.navbar__navlist {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar__navlist li a {
  color: #2f281e;
  font-style: normal;
  text-decoration: none;
  font-style: normal;
}

.container-title {
  display: flex;
  width: 1110px;
  flex-direction: column;
  margin-top: 96px;
}
.logo {
  width: 173px;
  height: 28px;
  left: 0%;
  right: 72.76%;
  top: calc(50% - 28px / 2 - 111.5px);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.423077px;
  color: #4a4ff2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.name {
  margin-top: 32px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  width: 635px;
  height: 195px;
}
.container-grid {
  width: 1110px;
  height: 1960px;
  margin-top: 144px;
  grid-template-rows: repeat(32, 1fr);
  grid-template-columns: repeat(9, 1fr);
  display: grid;
  grid-gap: 30px;
}
.grid-item-1 {
  grid-column: 1/4;
  grid-row: 1/8;
}
.grid-item-2 {
  grid-column: 4/7;
  grid-row: 1/7;
}
.grid-item-3 {
  grid-column: 7/9;
  grid-row: 1/11;
}
.grid-item-4 {
  grid-column: 1/4;
  grid-row: 8/16;
}
.grid-item-5 {
  grid-column: 4/7;
  grid-row: 7/14;
}
.grid-item-6 {
  grid-column: 7/9;
  grid-row: 11/18;
}
.grid-item-7 {
  grid-column: 1/4;
  grid-row: 16/24;
}
.grid-item-8 {
  grid-column: 4/7;
  grid-row: 14/23;
}
.grid-item-9 {
  grid-column: 7/9;
  grid-row: 18/27;
}
.grid-item-10 {
  grid-column: 1/4;
  grid-row: 24/32;
}
.grid-item-11 {
  grid-column: 4/7;
  grid-row: 23/32;
}
.grid-item-12 {
  grid-column: 7/9;
  grid-row: 27/32;
}
.container-services {
  display: flex;
  height: 106px;
  width: 1110px;
  margin-top: 90px;
}
.services-intro {
  font-weight: 700;
  width: 600px;
  font-size: 28px;
  line-height: 38px;
}
.service-lists {
  display: flex;
  width: 510px;
  justify-content: flex-end;
  gap: 50px;
}
.list-one {
  display: flex;
  list-style: none;
  font-size: 18px;
  flex-direction: column;
}
.list-two {
  display: flex;
  list-style: none;
  font-size: 18px;
  flex-direction: column;
}
.footer {
  display: flex;
  align-items: center;
  width: 1110px;
  font-size: 14px;
  margin-top: 132px;
}
.footer__image {
  flex-grow: 1;
}

.footer__footlist {
  display: flex;
  list-style: none;
  gap: 50px;
  flex-grow: 0;
}
.footer__pnglist {
  display: flex;
  list-style: none;
  gap: 15px;
}

.footer__footlist li a {
  color: #2f281e;
  font-style: normal;
  text-decoration: none;
  font-style: normal;
}
